body{
display: contents;
color: #e7e5e5;
}

h1, h2{
  color: #fdfdfd;
}
.header {
  position: relative;
  background-color: #3498db;
  color: white;
  padding: 40px;
}

.Navlink {
    float: right;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}

.Navlink:hover{
    background-color: rgba(28, 169, 212, 0.938);
}

.homeHeader{
  color: #3498db;
  padding: 30px;
  min-height: 150vmin;
}

.daily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgba(112, 112, 110, 0.966);
  padding: 15px;
  background: url(./Assets/weeklyDat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.daily > div{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.daily-data {
  list-style: none;
  color: rgb(235, 228, 228);
  padding: 30px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgba(161, 159, 157, 0.205); 
}

.description{
  margin: 40px;
  color: #FFF;
  font-size:larger;
  font-weight: 600;
  padding: 10px 25px;
  background: rgba(172, 164, 159, 0.377); 
}
.category {
  display: flex;
  border-radius: 20px;
  margin-left: 20px;
  width: 50%;
}

.selectBtns  {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.selectBtn {
  margin: 20px;
  padding: 0px 10px;
  width: 120px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #eeeeeed5;
}
.tcontainer {
  border-radius: 7px;
  background: url(./Assets/weeklyDat.jpg), linear-gradient(180deg, #C8C8C8 0%, rgba(12, 11, 11, 0.00) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: overlay, difference;
  padding: 5% 3% 3% 2%;
}
.theaders > th {
  border-radius: 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.61);
  border-bottom: 1px solid rgba(0, 0, 0, 0.61);
  background: rgba(251, 251, 251, 0.37);
  width: 400px;
  height: 28px;
  flex-shrink: 0;
  justify-content: center;
  color: #252525;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
} 

.tdatarows > td {
  width: 122.212px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 4px;
  border-top: 1px solid rgba(51, 50, 50, 0.212);
  border-right: 1px solid rgba(66, 65, 65, 0.466);
  background: rgba(251, 251, 251, 0.37);
  justify-content: center;
  color: #303030;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
}


.weather-buttons input {
  width: auto;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  padding: 10px;
  background: white;
  border-radius: 8px;
}
.loginheader {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  background-color: #3498db;
  color: white;
  padding: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 20px;
}

#loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs > input{
  flex-shrink: 0;
  padding: 4px;
  margin: 20px;
}
.inputs > label{
  color: #636363;
  font-weight:700;
  flex-shrink: 0;
  padding: 2px;
  margin: 10px;
}

.submitbtn {
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  width: 140px;
  height: 28px;
  flex-shrink: 0;
  color: #fdfdfd;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15%;
}
.submitbtn:hover {
  background-color: #38a6f0;
}